
<ion-content >
  <ion-slides pager="true">
 
    <!-- Slide 1 -->
    <ion-slide>
      <ion-text class="text-dark">
        <img src="../../../assets/img/first.jpg">
        <h1>Bienvenido</h1>
        <p class="ion-padding">Sabemos que extrañas las clases presenciales, Dogu ayudará a que el regreso sea aún mas rápido.</p>
        <ion-button (click)="next()" fill="outline" class="text-dark">Descúbrela</ion-button>
      </ion-text>
    </ion-slide>



    <ion-slide>
      <ion-text class="ion-padding text-dark">
        <img src="../../../assets/img/scan.jpg">
        <h1 class="ion-padding">Una nueva etapa</h1>
        <p class="ion-padding">Llevando el proceso correcto, ayudarás al proceso y derrotar al covid-19.</p>
        <ion-button (click)="next()" fill="outline" class="text-dark">Conoce cómo</ion-button>
      </ion-text>
    </ion-slide>
 
    <ion-slide>
      <ion-text class="ion-padding text-dark">
        <img src="../../../assets/img/secure.jpg">
        <h1>Datos Seguros</h1>
        <p class="ion-padding">Nosotros no resguardaremos ningún tipo de información de los usuarios, todo será anónimo.</p>
        <ion-button (click)="onClick()" fill="outline" class="text-dark">Comenzar</ion-button>
      </ion-text>
    </ion-slide>

  </ion-slides>
</ion-content>