<ion-header class="ion-no-border">
  <ion-toolbar mode='ios' >
    <ion-title  color="tertiary" class="ion-title1">Información</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        <ion-icon color="warning" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div>
    <h6 class="text-dark">Inicio de sesión:</h6>
    <p class="text-dark">El equipo de Dogu no recopila información personal de los usuarios, por lo cual
      unicamente es necesario ingresar tu fecha de nacimiento para fines estadísticos. <br>
      Una vez que inicias sesión no será llevar otro proceso posteriormente.
    </p>
  </div>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar mode='ios'>
    <ion-title size="small" class="text-dark">Dev by ArticDevioni-2021 </ion-title>
  </ion-toolbar>
</ion-footer>
